* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #fff;
            font-family: 'Times New Roman', Times, serif;
        }

        /* ============================= */
        /* NAVIGATION */
        /* ============================= */

        header {
            background: #0f172a;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1000;
            position: sticky;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            max-width: 1200px;
            margin: auto;
            padding: 15px 0;
        }

        .logo {
            color: #f4f4f4;
            font-size: 28px;
            font-weight: bold;
        }

        .menu {
            display: flex;
            gap: 30px;
        }

        .menu li {
            list-style: none;
        }

        .menu a {
            text-decoration: none;
            color: whitesmoke;
            font-weight: bold;
        }

        .menu a:hover {
            color: rgb(14, 185, 243);
            border-bottom: 2px solid aqua;
        }

        /* ============================= */
        /* HERO */
        /* ============================= */

        .hero {
            height: 50vh;
            background-color: rgb(3, 3, 14);
            color: #f4f4f4;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            text-align: center;
            padding: 0 80px;
        }

        .hero-text {
            max-width: 500px;
        }

        .hero-text h1 {
            font-size: 38px;
            margin-bottom: 20px;
        }

        .hero-text p {
            font-size: 1.2rem;
        }

        .hero-img {
            height: 100%;
            display: flex;
            align-items: flex-end;
        }

        .hero-img img {
            height: 90%;
            width: auto;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 50px;
        }

        /* ============================= */
        /* À PROPOS */
        /* ============================= */

        .about-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            margin-top: 30px;
            padding: 20px;
        }

        .about-title {
            width: 40%;
            text-align: left;
        }

        .about-title h2 {
            font-size: 35px;
            text-align: center;
            color: darkblue;
        }

        .about-text {
            width: 60%;
        }

        .about-text p {
            font-size: 18px;
            line-height: 1.8;
            margin-top: 15px;
        }

        .about-text .btn {
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            background-color: rgb(3, 2, 19);
            padding: 15px 20px;
            color: #f4f4f4;
            border-radius: 50px;
            font-weight: bold;
        }

        /* ============================= */
        /* BOUTONS */
        /* ============================= */

        .btn {
            background: #0f172a;
            padding: 12px 10px;
            border-radius: 15px;
            color: #fff;
            cursor: pointer;
            border: none;
        }

        .btn:hover {
            background: #f4f4f4;
            color: #0f172a;
        }

        /* ============================= */
        /* PROJETS */
        /* ============================= */

        .sections {
            margin-top: 20px;
            padding: 20px 15px;
        }

        .div {
            text-align: center;
        }

        .sections h1 {
            font-size: 48px;
            color: #171c4e;
            text-align: center;
        }

        .sections h2 {
            color: #338ad1;
            text-align: center;
            margin-top: 45px;
            font-size: 28px;
        }

        .skill-disign {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            padding: 20px 15px;
        }

        .card {
            width: 300px;
            background: white;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
            transition: .4s;
            text-align: center;
        }

        .card:hover {
            transform: translateY(-8px);
        }

        .card img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            transition: .4s;
        }

        .card img:hover {
            transform: scale(7.05);
        }

        .card h3 {
            text-align: center;
            margin: 15px;
            color: #0d47a1;
        }

        .card p {
            padding: 0 15px 20px;
            text-align: center;
        }

        /* PROJETS CACHÉS */

        .projets-caches {
            display: none;
        }

        .projets-caches.active {
            display: flex;
        }

        /* ============================= */
        /* COMPÉTENCES */
        /* ============================= */

        .boxed {
            padding: 40px 15px;
            background: #0f172a;
        }

        .boxed h1 {
            font-size: 48px;
            color: #fff;
            text-align: center;
            margin: 10px 20px;
        }

        .boxed-box {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            flex-wrap: wrap;
            padding: 20px 15px;
        }

        .boxed-card {
            width: 150px;
            background: #ccc;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
            transition: .4s;
            text-align: center;
        }

        .boxed-card:hover {
            transform: translateY(-8px);
        }

        .boxed-card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .boxed-card h3 {
            padding: 10px;
        }

        /* ============================= */
        /* CONTACT */
        /* ============================= */

        .section {
            padding: 30px 15px;
        }

        .section h1 {
            color: #0f172a;
            text-align: center;
            font-size: 48px;
            margin: 10px 15px;
        }

        .formulaire {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 100%;
        }

        .formulaire input {
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid #0f172a;
        }

        .formulaire textarea {
            padding: 25px;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid #0f172a;
            height: 150px;
            resize: none;
        }

        .formulaire button {
            padding: 12px 5px;
            background: #0f172a;
            color: #fff;
            border-radius: 15px;
            cursor: pointer;
            border: none;
        }

        .formulaire button:hover {
            background: #338ad1;
        }

        /* ============================= */
        /* FOOTER */
        /* ============================= */

        footer {
            background: #0f172a;
            color: #fff;
            text-align: center;
            padding: 25px 20px;
            margin-top: 20px;
             display: flex;
            flex-direction: column;
        }
        

        footer h3 {
            font-size: 35px;
            margin: 20px 10px;
        }

        footer p {
            margin: 10px 0;
        }

        .social {
            display: flex;
            gap: 30px;
            justify-content: center;
            flex-wrap: wrap;
            padding: 14px 12px;
        }

        .social {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 14px 12px;
}

.social a {
    color: white;
    font-size: 35px;
    text-decoration: none;
    transition: 0.3s;
}

.social a:hover {
    color: #338ad1;
    transform: translateY(-5px);
}

        .copyright {
            font-size: 20px;
            opacity: 0.5;
           

        /* ============================= */
        /* TABLETTES */
        /* ============================= */

        @media (max-width: 900px) {

            .navbar {
                width: 95%;
            }

            .menu {
                gap: 15px;
            }

            .menu a {
                font-size: 15px;
            }

            .hero {
                padding: 30px;
                height: auto;
                min-height: 60vh;
            }

            .hero-text h1 {
                font-size: 32px;
            }

            .about-container {
                padding: 20px;
                gap: 25px;
            }

            .about-title {
                width: 40%;
            }

            .about-text {
                width: 60%;
            }
        }

        /* ============================= */
        /* TELEPHONES */
        /* ============================= */

        @media (max-width: 600px) {

            .navbar {
                flex-direction: column;
                gap: 15px;
                padding: 20px 0;
            }

            .logo {
                font-size: 24px;
            }

            .menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;
            }

            .menu a {
                font-size: 14px;
            }

            .hero {
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding: 40px 20px;
                height: auto;
                min-height: 70vh;
            }

            .hero-text {
                max-width: 100%;
            }

            .hero-text h1 {
                font-size: 30px;
                line-height: 1.2;
                margin-bottom: 15px;
            }

            .hero-text p {
                font-size: 17px;
            }

            .hero-img {
                height: auto;
                margin-top: 30px;
                align-items: center;
                justify-content: center;
            }

            .hero-img img {
                width: 220px;
                height: 220px;
                object-fit: cover;
                border-radius: 30px;
            }

            .about-container {
                flex-direction: column;
                gap: 20px;
                padding: 30px 20px;
                margin-top: 0;
            }

            .about-title {
                width: 100%;
                text-align: center;
            }

            .about-title h2 {
                font-size: 30px;
            }

            .about-text {
                width: 100%;
                text-align: center;
            }

            .about-text p {
                font-size: 16px;
                line-height: 1.6;
            }

            .sections {
                padding: 40px 15px;
            }

            .sections h1 {
                font-size: 36px;
            }

            .sections h2 {
                font-size: 24px;
                margin-top: 30px;
            }

            .skill-disign {
                flex-direction: column;
                align-items: center;
                gap: 25px;
                padding: 20px 0;
            }

            .card {
                width: 100%;
                max-width: 320px;
            }

            .card img {
                height: 280px;
            }

            .boxed {
                padding: 40px 15px;
            }

            .boxed h1 {
                font-size: 36px;
                margin: 10px;
            }

            .boxed-box {
                gap: 20px;
            }

            .boxed-card {
                width: 130px;
            }

            .boxed-card img {
                height: 150px;
            }

            .section h1 {
                font-size: 36px;
            }

            .formulaire {
                width: 100%;
                max-width: 100%;
            }

            .formulaire input,
            .formulaire textarea {
                width: 100%;
            }

            footer {
                padding: 25px 15px;
            }

            footer h3 {
                font-size: 28px;
            }

            footer p {
                font-size: 15px;
            }

            .social {
                gap: 20px;
            }

            .copyright {
                font-size: 14px;
            }
        }

        /* ============================= */
        /* PETITS TÉLÉPHONES */
        /* ============================= */

        @media (max-width: 400px) {

            .logo {
                font-size: 21px;
            }

            .menu {
                gap: 10px;
            }

            .menu a {
                font-size: 13px;
            }

            .hero-text h1 {
                font-size: 25px;
            }

            .hero-text p {
                font-size: 15px;
            }

            .hero-img img {
                width: 180px;
                height: 180px;
            }

            .about-title h2 {
                font-size: 26px;
            }

            .sections h1,
            .boxed h1,
            .section h1 {
                font-size: 30px;
            }

            .card {
                max-width: 290px;
            }

            .boxed-card {
                width: 120px;
            }
        }